<!DOCTYPE html>
<html>
<head>
	<title>WEB-developer  &amp; Designer</title>
	<meta name="description" content="">

	<script src="libs/modernizr/modernizr.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

			<header id="main_navigation" class="clearfix">
				<%= link_to "Something on the way", root_path, class: "name" %>

				<nav>
					<%= link_to "Blog", posts_path %>

					<%= link_to "Projects", projects_path %>


					<a href="contact.html">Contact </a>
				</nav>

			</header>

			<%= yield %>

			<div class="footer">
				<footer id="main_footer" class="site-footer">
					<p class="copyright">&copy; 2016 Kirill </p>
					<nav>
					<a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-git" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
					</nav>
				</footer>
			</div>
	


	</body>
	</html>
